%section.panel.panel-default
  %header.panel-heading
    订单
    %small 这里显示的都是未处理的新订单，请及时处理！
  .list-group.bg-white
    = link_to collection_path(state: :pending), class: 'list-group-item', remote: true do
      %i.fa.fa-chevron-right.icon-muted
      %span.badge= resource_class.pending.size
      %i.fa.fa-angle-right.icon-muted.fa-fw
      新订单

    = link_to collection_path(state: :processing), class: 'list-group-item', remote: true do
      %i.fa.fa-chevron-right.icon-muted
      %span.badge= resource_class.processing.size
      %i.fa.fa-angle-right.icon-muted.fa-fw
      正在处理订单

    = link_to collection_path(state: :delivering), class: 'list-group-item', remote: true do
      %i.fa.fa-chevron-right.icon-muted
      %span.badge= resource_class.delivering.size
      %i.fa.fa-angle-right.icon-muted.fa-fw
      派送中订单

    = link_to collection_path(state: :confirmed), class: 'list-group-item', remote: true do
      %i.fa.fa-chevron-right.icon-muted
      %span.badge= resource_class.confirmed.size
      %i.fa.fa-angle-right.icon-muted.fa-fw
      已完成订单

    = link_to collection_path(state: :canceled), class: 'list-group-item', remote: true do
      %i.fa.fa-chevron-right.icon-muted
      %span.badge= resource_class.canceled.size
      %i.fa.fa-angle-right.icon-muted.fa-fw
      已取消订单
