%section#content.m-t-lg.wrapper-md.animated.fadeInUp
  .container.aside-xxl
    = link_to '蜀面', root_path, class: 'navbar-brand block'
    %section.panel.panel-default.bg-white.m-t-lg
      %header.panel-heading.text-center
        %strong 登录
      = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'panel-body wrapper-lg' }, defaults: { input_html: { class: 'form-control input-lg' } } do |f|
        = f.input :email, wrapper: :simple, input_html: { class: 'input-lg' }, placeholder: 'Email', label_html: { class: 'no_float' }
        = f.input :password, wrapper: :simple,  input_html: { class: 'input-lg' }, placeholder: '密码', label_html: { class: 'no_float' }
        - if devise_mapping.rememberable?
          .checkbox
            %label
              %input{type: "checkbox"}/
              记住我
        = link_to '忘记密码?', new_password_path(resource_name), class: 'pull-right m-t-xs'
        = f.button :submit, '登录', class: 'btn btn-primary'

        .line.line-dashed
        %p.text-muted.text-center
          %small 还没有帐号? Out了吧!
        = link_to '创建新帐号', new_registration_path(resource_name), class: 'btn btn-default btn-block'