%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  = 6
%Articles
  %item
    %Title
      = raw "<![CDATA[大促销]]>"
    %Description
      = raw "<![CDATA[咨询电话：#{4008517517}]]>"
    %PicUrl
      = raw "<![CDATA[http://tankr.net/s/medium/2L1S.jpg]]>"
    %Url
      = raw "<![CDATA[http://jandan.net/2014/03/01/fly-airships.html]]>"
  - 5.times do |i|
    %item
      %Title
        = raw "<![CDATA[好吃佬-#{i}]]>"
      %Description
        = raw "<![CDATA[好吃又劲道]]>"
      %PicUrl
        = raw "<![CDATA[http://ww2.sinaimg.cn/mw600/005vkodYgw1ee0gwfll7rj30hc09raam.jpg]]>"
      %Url
        = raw "<![CDATA[http://jandan.net/2014/03/01/stunning-images-10.html]]>"