= f.link_to_remove 'X', class: 'btn pull-right'
.well
  = f.input :sequence
  = f.input :name
  = f.input :menu_type, collection: MenuType.type_options
  = f.input :key, collection: MenuType::KEYS.invert
  = f.input :url