!!!
%html.app{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title ShuMian | 好面条, 有劲道
    %meta{content: 'ShuMian', name: "description"}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag :admin

    = csrf_meta_tags

  %body{ id: params[:controller].gsub('/', '_'), class: params[:action] }
    - if devise_controller? && !admin_user_signed_in?
      = yield
    - else
      %section.vbox
        = render 'admin/shared/header'
        %section
          %section.hbox.stretch
            = render 'admin/shared/sidebar'
            %section#content
              %section.vbox
                %section.scrollable.padder
                  = render 'admin/shared/crumbs', main_nav: @main_nav, sec_nav: @sec_nav
                  - if flash[:alert]
                    .alert.alert-danger
                      %p= flash[:alert]
                  - elsif flash[:notice]
                    .alert.alert-success
                      %p= flash[:notice]
                  = yield
              %a.hide.nav-off-screen-block{"data-target" => "#nav", "data-toggle" => "class:nav-off-screen", href: "#"}
            %aside#notes.bg-light.lter.b-l.aside-md.hide
              .wrapper Notification

    = javascript_include_tag :admin
    = yield :js